.row {
  display: flex;
  gap: 64px;
  margin: 48px 0 52px;
}

.sidebar {
  flex: 0 0 360px;
}

.products {
  width: 100%;
}

.notFound {
  text-align: center;
}

.loader {
  text-align: center;
}

.loadMore {
  margin: 40px auto 0;
  width: 145px;
}
