.page {
  width: 100%;
  padding: 48px 0 80px;
}

.price {
  margin-top: 16px;
}

.desc {
  margin-top: 28px;
  color: var(--color-text);
}

.tabsBox {
  display: flex;
  gap: 40px;
  margin-top: 44px;
}

.outletBox {
  flex: 1 1 auto;
}

.formBox {
  flex: 0 0 641px;
}
