.button {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 200px;
  height: 56px;
  transition: opacity var(--transition);
}

button:disabled {
  opacity: 0.7;
  cursor: default;
}

.fill {
  color: var(--color-white);
  background-color: var(--color-button);
}

.fill:not(:disabled):hover,
.fill:not(:disabled):active,
.fill:not(:disabled):focus-visible {
  background-color: var(--color-button-hover);
  transition: background-color var(--transition);
}

.outline {
  border: 1px solid var(--color-gray-light);
  color: var(--color-main);
  background-color: transparent;
  transition: border-color var(--transition);
}

.outline:not(:disabled):hover,
.outline:not(:disabled):active,
.outline:not(:disabled):focus-visible {
  border-color: var(--color-button-hover);
}

