*,
*::after,
*::before {
  box-sizing: border-box;
}

body,
button,
dl,
dd,
dt,
input,
textarea,
form,
p,
ul,
li,
h1,
h2,
h3,
h4,
hr {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
}

ul {
  list-style: none;
}

a {
  color: inherit;
  font: inherit;
  text-decoration: none;
}

button {
  appearance: none;
  background: none;
  outline: none;
  border: 0;
  font: inherit;
  color: inherit;
  line-height: inherit;
  text-decoration: none;
  cursor: pointer;
}

input,
textarea {
  font: inherit;
  color: inherit;
  background: none;
  border: none;
  outline: none;
}
